.my-input {
  font-size: inherit;
  outline: none;
  border: 2px solid rgb(110, 110, 110);
  background-color: transparent;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}
.my-input:focus {
  border: 2px solid var(--primary-color);
}
