.user {
  cursor: pointer;
  transition: translate 0.2s ease;
  &:hover {
    translate: 10px;
  }
}
.user .actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.name,
.age {
  font-size: 1.2rem;
  text-align: center;
}

.task-btn {
  background-color: rgb(0, 83, 216);
  &:hover {
    background-color: rgb(14, 116, 233);
  }
}
