.my-selector {
  font-size: inherit;
  outline: none;
  border: 2px solid rgb(131, 131, 131);
  background-color: transparent;
  color: inherit;
  padding: 0.5rem;
  border-radius: 5px;
}
.my-selector:focus {
  border: 2px solid white;
}
.my-selector option {
  background-color: var(--vt-c-black);
}
