.login-form {
  display: grid;
  gap: 1rem;
  justify-items: center;
}
.my-input {
  display: block;
  width: 100%;
}
.label {
  font-size: 1.2rem;
  width: 100%;
}
.login-form__wrapper {
  padding-inline: clamp(2rem, 3vw, 5rem);
  padding-block: 2rem;
  background-color: rgb(10, 10, 10);
  border-radius: 15px;
}
.login-form__title {
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 1rem;
}
.login-form__actions {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
.login-btn {
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.25em;
}
.login-btn:not(:disabled) {
  cursor: pointer;
}
