@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
  :root {
    --header-height: 80px;
    --form-background-color: rgb(10, 10, 10);
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
  a {
    @apply hover:text-primary transition-colors duration-100;
  }
  .active {
    @apply text-primary;
  }
  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
