@import "./base.css";

#app {
  max-width: 1280px;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  font-size: 1.1rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.red {
  color: rgb(255, 71, 71);
}
.light-blue {
  color: rgb(83, 158, 255);
}
